/*---------------------------------------------------------------------------
Fonts
 --------------------------------------------------------------------------*/

@font-face {
    font-family: "Gilam Regular";
    src: url("../fonts/Gilam-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Gilam Book";
    src: url("../fonts/Gilam-Book.ttf") format("truetype");
}

@font-face {
    font-family: Circle;
    src: url("../fonts/Circe-Regular.ttf") format("truetype");
}

/*---------------------------------------------------------------------------
Global properties
 --------------------------------------------------------------------------*/

body {
    background-color: #E5E5E5;
    font-style: normal;
    font-family: "Gilam Regular", sans-serif;
    color: white;
}

.bg-main {
    background: url("../img/parallax-bg.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.bg-clients {
    background: url("../img/header-bg.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container {
    box-sizing: border-box;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 230px;
}

/*---------------------------------------------------------------------------
Header properties
 --------------------------------------------------------------------------*/

header.container {
    display: flex;
    font-family: "Circle", sans-serif;
    font-weight: 700;
    padding-top: 40px;
    align-items: center;
}

.logo {
    width: 216px;
    height: 33px;
    flex-grow: 1;
    padding-bottom: 20px;
}

.phone-number {
    font-size: 20px;
    color: white;
}
.phone-number span {
    color: #D6AF76;
}

.btn-callback a {
    font-size: 18px;
    color: #E4B564;
    padding: 10px 25px;
    border: 1px solid #E4B564;
    margin-left: 39px;
    font-weight: 400;
}

.btn-callback img {
    padding-right: 10px;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 28px;
    padding: 120px 0 0 0;
}

h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    padding: 41px 0 0 0;
}

/*---------------------------------------------------------------------------
Main content properties
 --------------------------------------------------------------------------*/

.services {
    display: grid;
    grid-template-areas:
    "service-1 service-1 service-2 service-2 service-3 service-3"
    "service-4 service-4 service-4 service-5 service-5 service-5";
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 30px;
    padding: 41px 0 0 0;
}

.services  div {
    height: 468px;
    box-sizing: border-box;
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.service-1 {
    grid-area: service-1;
    background-color: #634F2C;
}

.service-2 {
    grid-area: service-2;
    background-color: #B4A385;
}

.service-3 {
    grid-area: service-3;
    background-color: #E4B564;
}

.service-4 {
    grid-area: service-4;
    background-color: #635A4A;
}

.service-5 {
    grid-area: service-5;
    background-color: #B08C4D;
}

.vehicles {
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
    padding: 94px 0 0 0;
}

.vehicles div p {
    padding: 44px 0 0 52px;
    font-family: "Gilam Book", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.vehicles div p span {
    font-family: "Gilam Regular", sans-serif;
    font-weight: 700;
}

.vehicle-1 {
    height: 310px;
    background-color: #0E0E0E;
}

.vehicle-2 {
    height: 560px;
    background-color: #1F1F1F;
}

.vehicle-3 {
    height: 440px;
    background-color: #242424;
}

.vehicle-4 {
    height: 430px;
    background-color: #E4B564;
    color: #000000;
}

.vehicle-5 {
    height: 250px;
    background-color: #1F1F1F;
}

.vehicle-6 {
    height: 310px;
    background-color: #0E0E0E;
}

.vehicle-7 {
    height: 280px;
    background-color: #0A0909;
}

.clients-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.btn-projects a {
    font-family: "Circle", sans-serif;
    font-size: 18px;
    color: #E4B564;
    padding: 10px 40px;
    border: 1px solid #E4B564;
    margin-left: 39px;
    font-weight: 400;
}

.clients {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 94px 0 300px 0;
}

.clients div {
    height: 391px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.client-1 {
    background-color: #634F2C;
}

.client-2 {
    background-color: rgba(232, 210, 171, 0.76);
    align-content: center;
    justify-items: center;
}

.client-2 p {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.client-2 p span {
    font-family: "Gilam Book", sans-serif;
    font-weight: 500;
}

.client-3 {
    background-color: #E4B564;
}

.client-4 {
    background-color: #635A4A;
}

.client-5 {
    background-color: #B08C4D;
}

.client-6 {
    background-color: #634F2C;
}

.btn-parallax {
    display: flex;
    justify-content: center;
    padding: 0 0 100px 0;
}

.btn-parallax a {
    font-family: "Circle", sans-serif;
    font-size: 18px;
    color: #ffffff;
    padding: 10px 40px;
    border: 1px solid #ffffff;
    margin-left: 39px;
    font-weight: 400;
}