@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700&display=swap');

body {
    background-color: lightslategrey;
}

.common {
    background-color: white;
    max-width: 1280px;
    margin: auto;
    text-align: center;
    font-family: 'Montserrat';
}

.menu {
    padding: 0;
    /*justify-content: center;*/
    /*height: 78px;*/
    margin: auto;
}

.menu > li {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #ff0000;
    line-height: 18px;
    padding: 25px;
    /*
    margin-left: 25px;
    margin-right: 25px;
    */
}

.menu > li >a {
    padding: 15px;
}

.banner {
    max-width: 1280px;
}

.text-block {
    height: 600px;
}

.text-header {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 3.3px;
    margin-block-start: 48px;
    margin-block-end: 38px;
    color: #373737;
}

.text {
    margin-right: auto;
    margin-left: auto;
    margin-block-start: 28px;
    margin-block-end: 28px;
    max-width: 1145px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
}

.button {
    width: 191px;
    height: 51px;
    background: #ff0000;
    border-radius: 4px;
    border-color: #ff0000;
    color: white;
    text-transform: uppercase;
    border-style: none;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1.8px;
    margin-top: 38px;
}

.button:hover {
    background: #ff2500;
}

.footer {

    display: flex;
    justify-content: right;
    height: 108px;

}

.footer-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    margin-top: 40px;
    margin-right: 105px;
}