/*---------------------------------------------------------------------------
Global properties
---------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    font-family: "Roboto", sans-serif;
    color: #424F57;
}

.ff-opensans {
    font-family: "Open Sans", sans-serif;
}

.ta-centre {
    text-align: center;
}

h1 {
    font-size: 36px;
    line-height: 36px;
    flex-grow: 1;
    padding: 40px 0;
}

h2 {
    font-size: 60px;
    line-height: 45px;
    text-transform: uppercase;
}

h3 {
    font-size: 52px;
    line-height: 75px;
    text-align: center;
    text-transform: uppercase;
}

h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}

.color-blue {
    color: #14AFCA;
}

.color-white {
    color: #ffffff;
}

/*---------------------------------------------------------------------------
Custom paddings&margins
---------------------------------------------------------------------------*/

.mt-25 {
    margin-top: 25px;
}

.mt-50 {
    margin-top: 50px;
}

.mb-100 {
    margin-bottom: 100px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-100 {
    padding-top: 100px;
}

.pt-150 {
    padding-top: 150px;
}

.pt-200 {
    padding-top: 200px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-150 {
    padding-bottom: 150px;
}

.pb-180 {
    padding-bottom: 180px;
}

.p-0-15vw {
    padding-left: 15vw;
    padding-right: 15vw;
}

/*---------------------------------------------------------------------------
Parallax settings
---------------------------------------------------------------------------*/
.parallax {
    position: relative;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}

.parallax-layer {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.parallax-layer-bottom {
    transform: translateZ(-2px) scale(3);
}

.parallax-layer-bottom div {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.parallax-layer-top {
    position: relative;
    transform: translateZ(0);
    margin: 0 auto;
    z-index: 2;
}

/*---------------------------------------------------------------------------
Background
---------------------------------------------------------------------------*/

.bg-1 {
    background-image: url("../img/bg1.jpg");
}

.bg-2 {
    background-image: url("../img/bg2.jpg");
}

.bg-3 {
    background-image: url("../img/bg3.jpg");
}

.shadow {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

/*---------------------------------------------------------------------------
Header properties
---------------------------------------------------------------------------*/

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header h1 span:nth-child(1) {
    font-weight: 300;

}

header h1 span:nth-child(2) {
    font-weight: 900;
    text-transform: uppercase;

}

.header-nav-item {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0 25px;
}

.header-nav-item:hover {
    color: #14AFCA;
}

/*---------------------------------------------------------------------------
Main content properties
---------------------------------------------------------------------------*/

.container-white {
    background-color: #ffffff;
    box-sizing: border-box;
}

.container-shape-a {
    min-height: 60vh;
    clip-path: polygon(0 0, 50% 15%, 100% 0, 100% 85%, 50% 100%, 0 85%);
}

.container-shape-b {
    min-height: 95vh;
    clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
}

.container-shape-c {
    min-height: 60vh;
    clip-path: polygon(50% 15%, 100% 0, 100% 100%, 0 100%, 0 0);
}

.img-section-flex {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8vh;
    column-gap: 2vw;
    justify-content: space-between;
}

.company-logo {
    display: flex;
    box-sizing: border-box;
    align-content: center;
    justify-content: center;
    min-width: 15vw;
    max-width: max-content;

}

.company-logo img {
    display: inline-block;
    object-fit: contain;
}

.img-section-flex .company-logo:nth-child(2) {
    padding: 1vw;
    background-color: #ffffff;
}

#team p {
    font-size: 15px;
    max-width: 20vw;
}

#testimonials p {
    font-style: italic;
    color: #D3CCCC;
}

#testimonials span {
    display: block;
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
    text-align: end;
    padding-right: 8vw;
}

#why p {
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
}

footer span {
    font-size: 14px;
    line-height: 24px;
}

footer span:last-child {
    font-size: 16px;
    font-weight: 700;
}