/*--------------------------------------------------------
Global properties
--------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@100;400;500;600;700&family=Roboto:wght@300;400&display=swap');

body {
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    background-color: #E5E5E5;
    margin: 0;
}

.frame {
    max-width: 1366px;
    margin: 0 auto;
    background-image: url("../img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    box-sizing: border-box;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 173px;
}

h1 {
    font-size: 29px;
    line-height: 18px;
}

h2 {
    font-size: 18px;
    line-height: 13px;
    font-weight: 400;
}

/*--------------------------------------------------------
Header properties
--------------------------------------------------------*/

header.container {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 51px 0 12px 0;
}

.logo-img {
    width: 53px;
    height: 47px;
    background-size: cover;
    background-image: url("../img/logo-white.svg");
}

.logo:hover .logo-img {
    background-image: url("../img/logo-orange.svg");
}

.logo-text {
    display: flex;
    flex-wrap: wrap;
    width: 130px;
    height: max-content;
    font-weight: 700;
    text-transform: uppercase;
}

.logo:hover .logo-text {
    color: #F26522;
}

.logo-text > h1,
.logo-text > h2 {
    width: 130px;
    padding: 8px 0 0  8px;
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    max-width: 220px;
    align-items: flex-end;
    justify-content: flex-end;
}

.contacts a {
    line-height: 13px;
    color: #ffffff;
    font-weight: 300;
}

.contacts a:first-child {
    padding: 46px 0 0 0;
}

.contacts a:last-child {
    padding: 19px 0 0 0;
}

.contacts a:hover {
    color: #F26522;
}

/*--------------------------------------------------------
Main content properties
--------------------------------------------------------*/

.tour-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
    max-width: 1020px;
    padding: 17px 0 0 0;
}

.tour-frame {
    display: grid;
    grid-template: 1fr 41px / 1fr;
    justify-items: center;
    align-items: end;
}

.tour-img-frame {
    position: relative;
    box-sizing: border-box;
    max-width: 300px;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-image: linear-gradient(to right bottom, black, white) 1;
    border-width: 2px;
    border-style: solid;
}

.tour-img-frame img {
    width: 100%;
    height: 100%;
}

.tour-img-label {
    position: absolute;
    top: 200px;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #ffffff;
    font-weight: 400;
    background-color: #F26522;
    width: inherit;
    z-index: -1;
}

.tour-img-label span:nth-child(1) {
    font-size: 10px;
    line-height: 10px;
    width: inherit;
    padding: 7px 0 0 16px;
}

.tour-img-label span:nth-child(2) {
    font-size: 20px;
    line-height: 20px;
    padding: 8px 0 12px 16px;
}

.tour-img-label span:nth-child(3) {
    position: relative;
    font-size: 14px;
    line-height: 14px;
    padding: 0 37px 12px 0;
    align-self: flex-end;
    justify-self: flex-end;
}

.tour-img-label span:nth-child(3)::after {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../img/angle-arrow.svg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: calc(100% - 21px);
}

.tour-frame:hover .tour-header {
    color: #F26522;
}

.tour-frame:hover .tour-img-label {
    animation-name: bottom-appearance;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes bottom-appearance {
    from {
        top: 200px;
        z-index: -1;
        /*width: 300%;*/
    }

    to {
        top: 144px;
        z-index: 1;
        /*width: 100%;*/
    }
}

/*--------------------------------------------------------
Footer properties
--------------------------------------------------------*/

footer {
    display: flex;
    justify-content: center;
}

footer span {
    padding: 49px 0 15px 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}