body {
    margin: 0;
    background-color: black;
    font-family: Verdana, sans-serif;
}

main {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.audio {
    position: absolute;
    display: block;
    top: 50px;
    left: 80px;
}

button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: goldenrod;
    font-family: Verdana, sans-serif;
    font-weight: 700;
}

#player {
    visibility: hidden;
}

.jabba {
    position: relative;
    top: 150px;
    left: 50px;
    width: 140px;
    height: 115px;
    background-image: url("../media/hutt-c.png");
    background-repeat: no-repeat;
    animation-name: jabba;
    animation-duration: 1s;
    animation-iteration-count: 30;
    display: block;
}

.jabba span {
    position: absolute;
    display: block;
    background-color: rgba(218, 165, 32, 0.7);
}

.jabba span:nth-child(1) {
    top: 50px;
    left: 90px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.jabba span:nth-child(2) {
    top: 30px;
    left: 110px;
    width: 50px;
    height: 20px;
    border-radius: 25px / 10px;
}

.jabba span:nth-child(3),
.jabba span:nth-child(4) {
    top: -5px;
    left: 160px;
    width: 100px;
    height: 40px;
    border-radius: 50px / 20px;
    text-align: center;
    box-sizing: border-box;
    padding: 10px 0 0 0;
}

.jabba span:nth-child(3) {
    animation: replace;
    animation-duration: 2s;
    animation-iteration-count: 15;
}

.jabba span:nth-child(4) {
    animation: replace;
    animation-duration: 2s;
    animation-iteration-count: 15;
    animation-delay: 1s;
}

.text {
    position: relative;
    width: max-content;
    margin: 95vh auto;
    transform: perspective(500px) translateZ(400px) rotateX(45deg);
    animation: fly-away;
    animation-duration: 30s;
}

h1 {
    text-align: center;
}

h1,
p {
    font-size: 26px;
    line-height: 36px;
    font-weight: 700;
    color: goldenrod;
    /*width: 120%;*/

}

@keyframes fly-away {
    from {
        transform: perspective(500px) translateZ(400px) rotateX(45deg);
        margin: 95vh auto;
    }

    to {
        transform: perspective(500px) translateZ(0) rotateX(70deg);
        margin: -55vh auto;
    }
}

@keyframes jabba {
    from {
        background-image: url("../media/hutt-c.png");
    }

    to {
        background-image: url("../media/hutt-o.png");
    }
}

@keyframes replace {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
